@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200;1,300;1,500&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.2s ease;
}

/*base html code*/
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}
body {
  height: 80vh;
  background-color: #ffffff;
}

section {
  padding: 0 4%;
}

.heading{
        color: #0080FF;
        font-size: 4rem;
        margin: 3.5rem 0;
        border-bottom: 0.1rem solid mediumseagreen;
}

/*Iletisim start*/
.Iletisim  .map{
        height: 50vh;
        width: 100%;
        object-fit: cover;
}

.Iletisim .info .email{
        color: rgb(0, 0, 0);
        padding: 4rem 6rem;
        display: inline-flex;
        align-items: center;
        position: absolute;
        right: 0px;
        width: 45rem;
}

.Iletisim .info .phone{
        color: rgb(0, 0, 0);
        padding: 4rem 6rem;
        display: inline-flex;
        align-items: center;
        right: 0px;
        width: 35rem;
}

.Iletisim i{
        margin-right: 1rem;
        font-size: 5rem;
}

.Iletisim p{

        font-size: 1.6rem;
}
/*Iletisim end*/
 @media(max-width: 700px){
        html{
                font-size: 50%;
        }
        .Iletisim .info .email{
                position: relative;
        }
 }
/*pesponsive end*/